svg {
  background-color: #fff;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

svg.ctrl:not(.active) {
  cursor: crosshair;
}

path.link {
  fill: none;
  stroke-width: 3px;
  cursor: default;
  opacity: 0.5
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
  stroke: #aaa;
}

path.link.hidden {
  stroke-width: 0;
}

#nodes>g.node .bg {
  stroke-width: 1.5px;
  cursor: pointer;
}

#nodes>g.node.fixed>circle.bg {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
}

#nodes>g.node>text.name {
  text-anchor: middle;
  font-weight: bold;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

svg>g.menu>g.item:hover>circle {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

#bounds {
  stroke: gray;
  stroke-width: 3px;
  stroke-dasharray: 10,2;
  fill-opacity: 0.0;
}

#container.shadow>g>*:not(.marked) {
  opacity: 0.1;
}

#connectors>div {
  margin: 10px;
  height: 98%;
  overflow-y: auto;
}

#connectors>div>.connector {
  height: 1.5em;
  border-radius: 4px;
}
#connectors>div>.connector * {
  font-size: 0.8em;
  display: block;
  margin-left: 5px;
  margin-top: 4px;
}
#connectors>div>.connector>div {
  border: 1px solid #000;
  border-radius: 4px;
  float: left;
  padding: 6px;
}
#connectors>div>.connector>.usages {
  float: left;
  background-color: #ddd;
  padding: 2px;
  margin-top: 1px;
  float: right;
}
#connectors>div>.connector.active>.active {
  background-color: #000;
}
#connectors>div>.connector.valid>.valid {
  background-color: #000;
}
#connectors>div>.connector.approved>.approved {
  background-color: #000;
}
#connectors>div>.connector.visible>.visible {
  background-color: #000;
}
/*#connectors>div>.connector.enabled {
  background-color: #000;
}*/
#connectors>div>.connector .description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 4px;
}
